.SpeechbubbleRoot {
	background-color: gradient( linear, 0% 100%, 0% 0%, from( #000e ), to( #333e ) );
    border-radius: 8px;
}

#SpeechbubbleText {
    color: white;
    font-size: 32px;
    margin: 4px 8px 4px 8px;
    vertical-align: middle;
    horizontal-align: center;
}
